set -e

layout pipenv

PATH_add bin/

# Setup the Node version for this project
if [ -e .nvmrc ]; then
  # Setup the NodeJS version for this project
  export NODE_VERSIONS=~/.nvm/versions/node
  export NODE_VERSION_PREFIX=v
  use node
  watch_file .nvmrc

  [[ -e node_modules/.bin ]] && layout node
fi

# Pull in private config info
if [ -e .envrc.private ]; then
  watch_file .envrc.private
  source_env .envrc.private
fi
